<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <title>[% IF subtitle %][% subtitle %] - [% END %][% title || 'Sakaki' %]</title>
    <meta http-equiv="Content-Style-Type" content="text/css" />  
    <meta http-equiv="Content-Script-Type" content="text/javascript" />  
    <meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0"]]>
    <meta name="format-detection" content="telephone=no" />
        <script src="[% uri_for('/static/js/jquery-1.6.4.min.js') %]"></script>
        <link rel="stylesheet/less" type="text/css" href="[% static_file('/static/bootstrap/lib/bootstrap.less') %]">
        <script src="[% uri_for('/static/js/less-1.1.4.min.js') %]"></script>
    <script src="[% uri_for('/static/bootstrap/bootstrap-dropdown.js') %]"></script>
    <link href="[% static_file('static/google-code-prettify/prettify.css') %]" type="text/css" rel="stylesheet" />
    <script type="text/javascript" src="[% static_file('static/google-code-prettify/prettify.js') %]"></script>


    <link href="[% static_file('/static/css/main.css') %]" rel="stylesheet" type="text/css" media="screen" />
    <script src="[% static_file('/static/js/main.js') %]"></script>
    <!--[if lt IE 9]>
        <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
</head>
<body[% IF bodyID %] id="[% bodyID %]"[% END %] onload="prettyPrint()">
    <div class="topbar-wrapper" style="z-index: 5;">
        <div class="topbar" data-dropdown="dropdown">
            <div class="topbar-inner">
                <div class="container">
                <h3><a href="/">Sakaki</a></h3>
                <ul class="nav">
                    <li><a href="/_create">Create</a></li>
                    <li><a href="/_recent">Recent</a></li>
                </ul>
                <form class="pull-left" action="/_search">
                    <input type="text" placeholder="Search" name="keyword" >
                </form>
                </div>
            </div><!-- /topbar-inner -->
        </div><!-- /topbar -->
    </div>
    <div class="container">
        <div class="row">
            <div class="span4">
                [% c().sidebar.html %]
            </div>
            <div class="span10">
                [% content %]
            </div>
        </div>
    </div>
    <footer class="footer">
        Sakaki [% sakaki_version() %],
        Powered by <a href="http://amon.64p.org/">Amon2</a>
    </footer>
</body>
</html>
