[% WRAPPER 'include/layout.tt' %]

<div class="row">
    <div class="span16">
        <h1>Recent pages</h1>
		<ul>
		[% FOR v IN entries %]
			<li>
				<a href="[% uri_for('/e/' _ uri(v.name)) %]">[% v.name %]</a>
				[% v.mtime_piece.strftime('%Y-%m-%d(%a) %T') %]
			</li>
		[% END %]
		</ul>
    </div>
</div>


[% END %]
