[% WRAPPER 'include/layout.tt' %]

<div class="row">
    <div class="span16">
		<div>
			<a href="/e/[% name | uri %]/edit">Edit</a>
			|
			<a href="/e/[% name | uri %]">Show</a>
		</div>
		<h2>[% name %]</h2>
		<pre>[% log %]</pre>
    </div>
</div>

[% END %]
